Options +FollowSymlinks
RewriteEngine On

# deal with admin first
RewriteCond %{REQUEST_URI} ^/projecto/(ad3w)
RewriteRule ^ad3w/assets/(.*)$ backend/web/assets/$1 [L]
RewriteRule ^ad3w/css/(.*)$ backend/web/css/$1 [L]

RewriteCond %{REQUEST_URI} !^/projecto/backend/web/(assets|css|js)/ 
RewriteCond %{REQUEST_URI} ^/projecto/(ad3w) 
RewriteRule ^.*$ backend/web/index.php [L]



RewriteCond %{REQUEST_URI} ^/projecto/(assets|css|js|img|images) 
RewriteRule ^assets/(.*)$ frontend/web/assets/$1 [L]
RewriteRule ^css/(.*)$ frontend/web/css/$1 [L]
RewriteRule ^js/(.*)$ frontend/web/js/$1 [L]
RewriteRule ^img/(.*)$ /img/$1 [L]
RewriteRule ^images/(.*)$ images/$1 [L]

RewriteCond %{REQUEST_URI} !^/projecto/(frontend|backend)/web/(assets|css)/ 
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ frontend/web/index.php