RewriteEngine On
RewriteCond %{HTTP_HOST} ^projekto\.com\.pl$ [OR]
RewriteCond %{HTTP_HOST} ^www\.projekto\.com\.pl$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "https\:\/\/projekttop\.pl" [R=301,L]

