/* 
    Created on : 2016-09-02, 14:22:00
    Author     : Mariusz Skonieczny, mariuszskonieczny@hotmail.com
*/
/*nadpisanie boostrap*/

.btn
{
    padding: 4px 6px;
    font-size: 12px;
    line-height: 1;
}
.form-control {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 10px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
}

.radiolist_prdflt
{
    margin:15px 0;
    padding: 5px 10px;
    border: 1px solid #dedede;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
}
.question_label
{
    font-size:10px;
    margin-bottom: 0px;
}
span.radio_value 
{
    padding-left: 10px;
}
.modal-header h4
{
    display:inline-block;
}
.products-filters-form
{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
.form-group
{
    margin:0px;
    -webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
}
.products-attributes-form label
{
    display:inline-block;
    width:20%;
}
.products-attributes-form .form-control
{
    display:inline-block;
    width:50%;
    padding: 0px 12px;
    line-height: 1.2;
    height: 22px;
    font-size: 12px;
}
.input_prdattr
{
    margin:10px 0;
}
.project_image 
{
    display: inline-block;
    margin: 2px;
    padding:2px;
    border:1px solid #dedede;
    text-align:center;
}
.project_image a img
{
    padding-bottom: 5px;
}
.active_prd, .archive_prd
{
    background-color: #358753;
    border: 1px solid #d2d2d2;
    text-align:center;
    color: #ffffff;
    font-size:14px;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
}
.unactive_prd, .unarchive_prd
{
    background-color: #f04124;
    border: 1px solid #d2d2d2;
    text-align:center;
    color: #ffffff;
    font-size:14px;
    cursor: pointer;
    width: 50%;
    margin: 0 auto;
}
.action_column
{
    min-width:70px;
}
 .dane_button
 {
     padding: 3px;
     font-size:12px;
     
 }
.active_faq
{
    background-color: #358753;
    border: 1px solid #d2d2d2;
    text-align:center;
    color: #ffffff;
    font-size:16px;
    cursor: pointer;
}
.unactive_faq
{
    background-color: #f04124;
    border: 1px solid #d2d2d2;
    text-align:center;
    color: #ffffff;
    font-size:16px;
    cursor: pointer;
}
.dropdown-header 
{
    border-top: 2px dashed #d2d2d2;
    border-bottom: 2px dashed #d2d2d2;
    padding: 5px 20px;
    font-size: 15px;
    background-color: #006687;
    color: #ffffff !important;
    font-weight: bolder;
}
.products-images-form label
{
    width: 15%;
    display: inline-block;
}
.products-images-form input, .products-images-form select
{
    padding: 0 5px;
    width: 70%;
    display: inline-block;
}

.products-images-form-add label
{
    width: 100%;
    font-size: 20px;
    padding: 10px 0;
    color:red;
    display: inline-block;
}
.search-filter-center
{
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    padding:40px 0 20px;
}
.nav-pills > li > a
{
    min-height: 62px;
    font-size: 12px;
    border: 0;
}
.nav-pills > li
{
    border-bottom: 1px solid #cecece;
}
#pill-all
{
    font-size:14px;
    line-height: 20px;
}

div[class^="blog"] .form-control 
{
    display: inline-block;
    width: 90%;
    height: 30px;
    padding-left: 5px;;
    font-size: 12px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
}
div[class^="blog"] label 
{
    font-size: 14px;
    min-width: 100px;
}
div[class^="blog"] .form-group 
{
    width: 80%;
    display: inline-block;
}
#cke_blogpost-article
{
    width: 90%;
    display:inline-block;
}
.inline-row
{
    display: inline-block;
    padding: 10px; 
}