/* 
    Projekt    : projekttop.pl
    Created on : 2017-02-05, 12:33:16
    Author     : Mariusz Skonieczny mariuszskonieczny@hotmail.com
*/
.order-data-row
{
    margin-bottom: 20px;
    border-top: 1px dashed #dedede
}
.order-title
{
    font-size:16px;
    padding:15px;
}
.order-buttons
{
    padding:10px;
}
.order_status
{
    border-radius:5px;
    padding:5px 10px;
    
    font-weight: bold;
}
.like-a
{
    color:#008cba;
    cursor: pointer;
}
.order-status-background
{
    min-height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    padding: 12px 0;
}
[id^="ordersstatus"] 
{
    font-size:15px;
    padding: 5px 10px;
}
.status-change, .adress-change
{
    background-color: #557f9e;
    font-size: 12px;
    color:#fff;
    border: 0px;
    padding: 10px;
    cursor: pointer;
}
.order-all-title, .order-user-title, .order-adress-title, .order-positions-title
{
    background-color: #557f9e;
    font-size: 16px;
    padding: 10px;
    color:#fff;
}
.order-delivery-title
{
    background-color: #81a5bf;
    font-size: 14px;
    padding: 10px;
    color:#fff;
}
table.order-data
{
    width:100%;
    font-size:14px;
    line-height: 22px;
}
table.order-data tr:nth-child(even)
{
    background-color: #ececec;
}
table.order-data tr td
{
    padding: 2px 5px;
}
table.order-positions-data tr td
{
    text-align: right;
    line-height: 40px;
}
.comments
{
    background-color:#A0C2DE;
}
.img-payment img
{
    max-height: 20px;
}
.products-caption
{
    background-color: #a9a9a9;
    color: #ffffff;
    text-transform: uppercase;
}
.order-sum
{
    background-color: #cceaa8;
    font-weight: 700;
}
