/* 
    Created on : 2016-12-06, 11:59:33
    Author     : Mariusz Skonieczny, mariuszskonieczny@hotmail.com
*/
.wrap-icon  > .container-icon
{
    padding: 42.5px 15px;
}
.wrap-icon 
{
    background-color: #f0f3f6;
    min-height:125px;
}

.first_icon, .icon-text, .arrow-icon, .icon-img
{
    display: inline-block;
    vertical-align: middle;
}

.first_icon, .arrow-icon 
{
    line-height: 125px;
}
.col-icon
{
    display: table-cell;  
    vertical-align: middle;
}
.icon-text-inner-top
{
    color:#888888;
    font-size: 13px;
    text-transform: uppercase;

}
.icon-text-inner-bottom
{
    font-size: 15px;
    text-transform: capitalize;

}
.icon-text
{
    padding:0px 40px;
}
.icon-img
{
    min-width: 40px;
}
.wrap-services  > .container-services
{
    padding: 60px 15px;
}
.wrap-services, .wrap-popular
{
    background-color: #ffffff;
}
.text18m
{
    font-size: 18px;
    font-family: Montserrat;
    margin: 10px 0 10px 0;
}
.text13o
{
    font-size: 13px;
    padding: 0 55px;
}
.popular-img
{
    max-width: 360px;
    margin: 10px auto 20px;
}
.img-icons
{
    margin-top:-40px;
}
.popular-icon
{
    width: 40px;
    height: 40px;
    background-color: #88c354;
    text-align: center;
    vertical-align: top;
    line-height: 38px;
}
.popular-link
{
    width: 40px;
    height: 40px;
    background-color: #f0f3f6;
    text-align: center;
    vertical-align: top;
    line-height: 38px;
}
.popular-link:hover
{
    background-color: #2f96d1;
}

.popular-title
{
    font-size: 24px;
    font-family: Montserrat;
    color:#2d3e52;
}
.popular-border
{
    border-top: 4px solid #88c354;
    margin: 10px calc(50% - 20px) 20px;
}
.popular-link, .popular-name, .popular-icon
{
    display:inline-block;
}
.popular-name 
{
    height: 40px;
    line-height: 38px;
    background-color: #353a3e;
    color: #fff;
    margin: 0 -4px;
    padding: 0 10px;
}
.wrap-projects
{
    background-color: #161f29
}
.wrap-projects > .container-projects
{
    padding: 80px 0 ;
}
.projects-content
{
    cursor: pointer;
}
.r48
{
    font-family: 'Raleway', sans-serif;
    font-size:48px;
    color:#ffffff;
}
.m13blue
{
    background-color: #2f96d1;
    font-family: Montserrat;
    color:#ffffff;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    width:250px;
    margin: 20px auto;
    border-radius: 2px;
}
.m13blue img
{
    padding: 0 5px 4px 0;
}

.m13blue a
{
    color:#ffffff;
    text-decoration: none;
}
.center-green-border
{
    border-top: 4px solid #88c354;
    margin: 10px calc(50% - 20px) 20px;
}
.wrap-latest
{
    background-color: #f0f3f6;
}
.latest-title
{
    font-size: 24px;
    font-family: Montserrat;
    color:#2d3e52;
}

.wrap-people
{
    background-color: #ffffff;
    padding-bottom: 80px;
}
.people-title
{
    font-size: 24px;
    font-family: Montserrat;
    color:#2d3e52;
}
.comment-content
{
    margin: 0 15px;
    background-color: #f0f3f6;
    font-size: 14px;
    font-style: italic;
    color:#666666;
    padding: 40px; 
}
.client-photo
{
    margin: -20px 30px;
}
.client-photo, .client-name
{
    display: inline-block;
    vertical-align: bottom;
}
