/* 
    Created on : Nov 19, 2016, 9:11:22 PM
    Author     : MariuszS
*/
nav
{
    text-transform: uppercase;
}
.navbar-default
{
    background-image: url('../img/top-bar.png');
    height: 56px;
    color:#cccccc;
    
}
.navbar-nav > li
{
    margin-top:12px;
    border-right: 1px solid #525a60;
}
.navbar-nav > li:nth-last-child(1), .navbar-right > li
{
    border-right: 0;
}
.navbar-nav > li > a
{
    padding:0 20px;
    color:#cccccc !important;
    line-height: 30px;
}
.index-logout
{
    margin-top: -2px;
    font-size:13px;
}

img.basket
{
    margin: -26px 0 0 80px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
    background-color: transparent;
}

.nav_inline
{
    margin:0;
    padding:0;
    display: inline-block;
}
.logo
{
    height: auto;
    padding: 10px 0 0 0;
    max-width:300px;
}
.nav_block
{
    text-align: right;
    display: block;
    padding: 20px 50px 0 0;
}
.nav_contact div
{
    display: inline-block !important;
}
.contact
{
    color: #888888;
    font-family: 'Montserrat';
    font-size: 12px;
    max-width: calc(70% - 4px);
    float: right
}   

.second-menu
{
    height: 130px;
    margin:0;
    padding:0;
}
.contact_png
{
    margin: 0 5px 0 15px;
    
}
.second_nav
{
    color: #888888;
    font-size: 14px;
    font-family: 'Montserrat';
    text-transform:uppercase;
}

.second_nav nav
{
    background-color: transparent;
}
.second_nav .navbar-default 
{
    background-image: none;
    background-color: transparent;
}    
.second_nav .navbar-default .dropdown-menu
{
    background-color: #fff;
    
}
.second_nav .navbar-default .dropdown-menu > li > a
{
    color: #888888;
}
.second_nav .navbar-default .dropdown-menu > li > a:hover
{
   color:  #88c354 !important;
   background-color: #fff;
}
.second_nav .navbar-default .navbar-nav > .open > a
{
    background-color: transparent;
}
.second_nav nav .container
{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: right;
}

.second-navbar > li
{
    border: 0;
}
.second-navbar > li > a
{
    padding: 0;
    margin-left: 20px;
    color: #888888 !important;
}
.second-navbar > li > a:hover
{
    color: #88c354 !important;
}
.second_nav > nav > .container > .navbar-collapse 
{
    padding: 0;
}
.search-bar-wrap
{
    min-height: 65px;
    background-color: #f5f9fc;
    font-size: 13px;
    line-height:65px;
}

.search-submit, input.search-input
{
    display: inline-block;
    outline: none;
    vertical-align: middle;
    background: none;
    border:0;
    
    
}
.search-submit i
{
    background-color: #34a2e1;
    padding: 13px 13px 12px;
    margin-left: -10px;
    border-radius: 3px;
    color: #fff;
}
input.search-input
{
    width: 80%;
    height: 38px;
    border: 1px solid #dddddd;
    padding: 0 0 0 15px;
    border-radius: 3px;
}
.search-bar-wrap > .search-bar-container
{
    padding:0;

}

/*Poprawa responsive*/

@media (max-width: 770px)
{
    .contact
    {
        max-width:100%;
        display:block;
            
    }
    .nav_contact div
    {
        display: block;
    }
    .navbar-collapse 
    {
        background-color: #32373b;
        z-index: 99;
        position: absolute;
        min-width: 350px;
        text-align:left;
    } 
    .second_nav 
    {
        position: absolute;
        top: 0px;
        left: 82px;
    }
    .second_nav .navbar-default .dropdown-menu
    {
        background-color: #32373b;
    }

}