
/* 
    Created on : Oct 14, 2016, 10:54:47 PM
    Author     : MariuszS
*/


table.cart-table 
{
    border: 1px solid #d6d6d6;
    position: relative;
    width:100%;
    height: auto;
    border-collapse: collapse;
    min-height: 250px;
}
table.cart-table tr
{
    border-bottom: 1px solid #d6d6d6;
}
table.cart-table tr td
{
    text-align: right;
    min-width: 50px;
}
span.delete-from-cart
{
    color:red;
    font-size:12px;
    cursor: pointer;
}
.cart-list-row td
{
    padding:20px 0;
}
.cart-list-caption td
{
    background-color: #f5f9fc;
    font-size:14px;
    font-weight: 700;
    padding:15px 0;
}
.del-cell
{
    text-align:center!important
}
.go-to-step1
{
    float:right;
    background-color: #2f96d1;
    font-family: Montserrat;
    color: #ffffff;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    width: 250px;
    margin: 20px auto;
    border:0;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #bcc0c4;
}
.cart-goback
{
    float:left;
    background-color: #88c354;
    font-family: Montserrat;
    color: #ffffff;
    text-transform: uppercase;
    height: 40px;
    line-height: 40px;
    width: 250px;
    margin: 20px auto;
    border:0;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #bcc0c4;
}

.cart-left, .cart-right
{
    display: inline-block;
    padding:20px 10px;
    vertical-align: middle;
    
}
.cart-left
{
    color:#88c354;
    min-width: 70px;
    text-align: center;
}
.cart-right 
{
    width: calc(100% - 80px);
}

/* Cart Widget*/
.cart
{
    font-size: 14px;
    line-height: 16px;
}

.cart-container
{
    display: none;
    position: absolute;
    width:450px;
    background-color: #e5edf3;
    right:0px;
    z-index:9;
    color:#000;
    text-transform: none;
}
.cart-name 
{
    display: inline-block;
    margin-right: 5px;
}
.cart-name a
{
    color:#cccccc;
    text-decoration: none;
}
.in-cart_table
{
    margin: 20px 0 -20px;
    width:100%;
}
.in-cart_table tr
{
    border-bottom: 1px solid #3c7cae;
}
.in-cart_table tr td 
{
    height: 80px;
    padding:0px 5px;
}
.cart-name >img
{
    padding: 2px;
    background-color: #565f66;
    border-radius: 3px;
}

.cart-items a
{
    background-color: #2f96d1;
    padding: 10px 20px;
    color: #FFF;
    text-align: center;
    float:right;
    margin: 20px;
    text-decoration: none;
    cursor: pointer;
    border-corner:3px;
    font-weight: 700;
    
}
.cart-wid-qty
{
    padding-left: 15px !important;
}
.cart-wid-qty, .cart-wid-qty-x, .cart-wid-img
{
    text-align: center;
}
.cart-wid-price {
    min-width: 100px;
    font-weight: 700;
    text-align: right;
    padding-right: 15px !important;;
}
.cart-wid-prjsum, .cart-wid-pricesum
{
    font-size: 17px;
    text-align: right;
    font-weight: 800;
}

