
/* 
    Created on : Oct 14, 2016, 10:54:47 PM
    Author     : MariuszS
*/

.cart-list-row
{
    display: block;
}
.cart-list0, .cart-list1, .cart-list2, .cart-list3, .cart-list4, .cart-list5
{
    display: inline-block;
    text-align: right;
    min-width: 50px;
}
.cart-list1
{
    width: 100px;
    
}
 .cart-list2
{
    width: 400px;
    
}
.cart-list3, .cart-list5
{
    width: 240px;
}
.cart-list4
{
    width: 120px;
}
.cart-list0
{
    color:red;
    font-size:12px;
    cursor: pointer;
}
