/* 
    Created on : 2016-09-19, 10:40:55
    Author     : Mariusz Skonieczny, mariuszskonieczny@htomail.com
*/

.filter_ansver_row
{
    display: inline-block;
    width:100%;
}
.answer
{
    display: inline;
}
.reset_filter
{
    display: inline;
    float:right;
    cursor: pointer;
}

.left 
{
    width:25%;
    max-width:250px;
    display:inline-block;
    padding-right:50px;
}
.another
{
    vertical-align:top;
    display:inline-block;
}
.container
{
    width:90%;
}
.all_project {
    display: inherit;
    vertical-align: inherit;
}
.prj_filter_question_row
{
    background-color:#e4e4e4;
    border: 1px solid #d0d0d0;
    padding:2px;
    margin: 5px 0;
    
}




