/*
    Created on : 2016-09-19, 10:40:55
    Author     : Mariusz Skonieczny, mariuszskonieczny@htomail.com
*/
html {
       overflow-y: scroll;
}
.filter_ansver_row
{
    display: inline-block;
    width:100%;
}
.answer
{
    display: inline;
}
.reset_filter
{
    display: inline;
    float:right;
    cursor: pointer;
}

.top_menu
{
    width:100%;
    display:block;
    padding-top:10px;
}
.another
{
    vertical-align:top;
    display:inline-block;
}
.container
{
    width:90%;
}
.all_project {
    display: inherit;
    vertical-align: inherit;
}
.prj_filter_question_row
{
    background-color:#e4e4e4;
    border: 1px solid #d0d0d0;
    padding:2px;
    margin: 5px 0;
    display:inline-block;
    width:100%;
}

.prj_filter_row
{
    display:inline-block;
    vertical-align: top;
    padding: 0 10px;
    width: 20%;
}
.remove-filter
{
    color:red;
    vertical-align: bottom;
}
.prj_filter_ansver_row > select
{
    width: 100%;
}
.navbar
{
    height:30px;
    margin: 0;
}
.navbar-inverse
{
    background-color: #363b3f;
}
.second-navbar
{
    height:80px;
}
.second-menu
{
    height: 80px;
}
.navbar-brand img
{
    max-height: 80px;
}
.second-menu a img
{
    max-height: 80px;
}
.wrap > .container 
{
    padding: 20px 15px 20px;
}
.cart
{
    width: 100px;
    font-size:18px;
    text-align:right;
    margin-left: calc(100% - 110px)
}
.cart-name
{
    display: inline-block;
}
.cart-container
{
    display: none;
    position: absolute;
    width:250px;
    background-color: gray;
    right:110px;
}
.in-cart_table
{
    width:100%;
}


/*Rejestracja*/
.p50p
{
    display: inline-block;
    width:calc(50% - 3px);
    vertical-align: top;
}

.invoice
{
    display: none;
    border-left:2px solid #E9EEF2;
}
.want-invoice
{
    cursor: pointer;
}
.invoice, .delivery
{
    padding:10px 30px; ;
}
.registry-caption
{
    display: inline-block;
    width:calc(50% - 3px);
    padding-left: 50px;
    
}
.caption
{
    width:100%;
    background-color: #F4F9FC;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    
}
.invoice-caption
{
    display: none;
}
.order-caption
{
    display: inline-block;
    width:calc(50% - 3px);
    
}
.caption
{
    padding-left: 50px;
}
.order-comment
{
    padding: 50px;
}
.ord_last_row
{
    text-align: right;
}
.row-order-content
{
    border-left: 2px solid #F4F9FC;
    border-right: 2px solid #F4F9FC;
    min-height:150px;
    padding: 50px;
}
.row-order:nth-last-child(2) .row-order-content
{
    border-bottom: 2px solid #F4F9FC;
    margin-bottom: 50px;
}