/*
*/
/* 
    Created on : 2016-12-07, 11:56:09
    Author     : Mariusz Skonieczny, mariuszskonieczny@hotmail.com
*/


.latest-product
{
    width:300px;
    background-color: #fff;
    margin: 0 auto 20px;
    padding: 0 0 15px;
}
.latest-info {
    height: 65px;
}
.latest-img
{
    max-width:300px;
    max-height:160px;
    background-color: #fff;
    line-height: 156px;
    text-align: center;
}
.latest-img img
{
    max-width:300px;
    max-height:160px;
}

.latest-left , .latest-right
{
    display: inline-block;
    vertical-align: bottom;
}
.latest-right
{
    margin: 18px 4px 5px 0;
    text-align: right;
    float: right;
}

.latest-link
{
    display: inline-block;
    width: 41px;
    height:41px;
    background-color: #f0f3f6;
    vertical-align: bottom;
    text-align: center;
    line-height: 41px;
    cursor:pointer;
}
.latest-link a i
{
    color:#445064;
}
.latest-link:hover
{
    background-color:#2f96d1 ;
}
.latest-price
{
    display: inline-block;
    vertical-align: bottom;
}
.latest-tech-data
{
    padding: 0 15px;
    border-bottom: 1px solid #f0f3f6;
}
.tech-data
{
    width: calc(50% - 4px);
    font-size:13px;
    color: #777777;
    margin: 0px;
    height: 30px;
    line-height: 26px;
    
}
.tech-data i
{
    padding-right:10px;
    margin-top: 10px;
    color: #000;
}