
/* 
    Created on : 2016-09-29, 16:27:59
    Author     : Mariusz Skonieczny, mariuszskonieczny@htomail.com
*/

.prj-items
{
    width:100%
}
.prj_all
{
    display: inline-block;
    width: calc(20% - 4px);
    min-width:150px;
    border: solid 1px gray;
    padding: 0 10px;
    vertical-align: top;
    min-height: 240px;
    margin-bottom:10px;
}
.favorites-items .prjs_all .prj_all
{
    width: calc(25% - 4px);
}
.prj_title h2
{
    font-size: 14px;
}
img.prj_image
{
    width:90%;
    margin: 0 auto;
    display: block;
}
.prjs_paso
{
    display:block;
    width:100%;
    height: 50px;
}
.prjs_pagi, .prjs_sort
{
    display: inline-block;
}
.prjs_pagi
{
    float:right;
}
.pagination
{
    margin:0;
}

.prj_title 
{
    min-height: 55px;
}
.prj_title h2
{
    font-size: 14px;
    margin:0;
    padding:0;
}
.prj_img
{
    min-height: 125px;
}
#prj_sizex, #prj_sizey  
{
    width:40px;
}
#prj_sort{
    display:inline-block;
    margin-left: 10px;
}
.prj_images_title {
    border-bottom: 2px solid #d2d2d2;
    padding: 20px 0;
    width: 80%;
    margin: auto;
    font-size: 24px;
    border-top: 2px solid #d2d2d2;
}
.prj_images_title:nth-child(1)
{
    border-top: 0px;
}
