
/* 
    Created on : 2016-09-29, 16:27:59
    Author     : Mariusz Skonieczny, mariuszskonieczny@htomail.com
*/

.prj-items
{
    width:100%
}
.prj_all
{
    display: inline-block;
    width:20%;
    min-width:150px;
    border: solid 1px gray;
    padding: 0 10px;
    
}

.prj_title h2
{
    font-size: 14px;
}