
/* 
    Created on : 2016-09-29, 16:27:59
    Author     : Mariusz Skonieczny, mariuszskonieczny@hotmail.com
*/
.top_menu
{
    width:25%;
    display:inline-block;
    padding-top:10px;
    
}
.filter-menu-over
{
    background-color: #2f96d1;
    border-radius :3px;
    padding:15px 0;
    margin: 0 15px;
}
.top-menu-find
{
    background-color: #3c7cae;
    padding:10px 0;
    border-radius :3px;
    margin: 0 15px;
}
.top-menu-filters
{
    background-color: #f5f9fc;
    margin: 0 15px;
    padding: 30px 0;
}
.prj-items
{
    width:calc(75% - 4px);
    display:inline-block;
        
}
.prj_filter_question_row
{
    text-transform: uppercase;
    padding: 15px 5px;
    
    display:inline-block;
    width:100%;
}
.prj_filter_ansver_row
{
    padding: 5px 5px;
}
.prj_filter_row
{
    display:block;
    vertical-align: top;
    padding: 0 10px;
}
.filter-area-size
{
    width:40%;
    border: 1px solid #dddddd;
    margin:15px 0 5px;
    padding:0 5px;
    outline: none;
    box-shadow: inset 1px 1px 3px rgba(102,102,102,0.2);
    line-height: 24px;
    border-radius:3px;
}
.reset_all_filters
{
    background-color: #2f96d1;
    border-radius :3px;
    padding:15px 0;
    margin: 0 15px;
    text-align: center;
    cursor:pointer;
    
}

/*Przesuwane liczby*/
.irs-from, .irs-to, .irs-single
{
    background-color: #2f96d1;
}
.irs-bar
{
    border-top: 1px solid #3c7cae;
    border-bottom: 1px solid #2f96d1;
    background: #2f96d1;
    background: linear-gradient(to top, #2f96d1 0%,#3c7cae 100%);

}
.prjs-pagi, .prjs-count, .prjs-sort
{
    display: inline-block;
}
.prjs-firstline
{
    margin: 5px 0 40px;
    padding: 0 20px;
}
.prjs-pagi
{
    float:right;
}
div.prjs-sort
{
    float:right;
    margin: 1px 30px;
}
.prjs-count
{
    margin: 8px;
}
.prj-sort > select
{
    border: 1px solid #dddddd;
    padding: 5px;
    outline: none;
    box-shadow: inset 1px 1px 3px rgba(102,102,102,0.2);
    border-radius:3px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus 
{
    background-color: #88c354;
}
.pagination > li > a, .pagination > li:first-child > a, .pagination > li:last-child > a, .pagination > li > span, .pagination > li:first-child > span, .pagination > li:last-child > span 
{
    background-color: #f5f9fc;
    border:1px solid #dddddd;
}
.prj-all
{
    display: inline-block;
    min-width:150px;
    border-bottom: solid 1px #eeeeee;
    padding: 0 10px;
    vertical-align: top;
    min-height: 240px;
    margin-bottom:10px;
    text-align:center;
    padding-bottom: 30px;
}
.favorites-items .prjs-all .prj-all
{
    width: calc(25% - 4px);
}
.prj-title
{
    height:30px;
}
.prj-img
{
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 200px;
    background-color: #fff;
    margin: 10px 0;
    display: inline-block;
    position: relative;
}
img.prj-image
{
    max-width: calc(100% - 4px);
    display: inline-block;
    max-height: 100%;
    max-height: 200px;
    vertical-align: middle;
}
.helper-img
{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.icon-hide
{
    height: 100%;
    width: 100%;
    background-color: rgba(51, 59, 68, 0.95);
    position: absolute;
    visibility: hidden;
}
.icon-hide-cont
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    line-height: 200px;
}
.visible-true
{
    visibility: visible;
}
.prjs-paso
{
    display:block;
    width:100%;
    height: 50px;
}
.prj-add-favorites, .prj-add-cart
{
    cursor: pointer;
}
.prj-add-favorites:hover, .prj-add-cart:hover, a .prj-hidden-link:hover
{
    background-color: #2f96d1;
}

.pagination
{
    margin:0;
}
.prj-title
{
    text-transform: uppercase;
    padding: 0
}
.prj-title h2
{
    font-size: 12px;
    font-weight: 700;
    color: #88c354;
    margin:0;
    padding:0;
    line-height: 14px;
}


#prj-sort{
    display:inline-block;
    margin-left: 10px;
}
.prj-images-title {
    border-bottom: 2px solid #d2d2d2;
    padding: 20px 0;
    width: 80%;
    margin: auto;
    font-size: 24px;
    border-top: 2px solid #d2d2d2;
}
.prj-images-title:nth-child(1)
{
    border-top: 0px;
}
.prj-info
{
    margin:0 10px;
}
.prj-left
{
    width: calc(50% - 2px);
    display: inline-block;
    text-align: left;
    padding: 0 0 0 5px;
    
}
.prj-right
{
    width:calc(50% - 2px);
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding: 5px 0 0 0;
}
.prj-price
{
    background-color: #e5edf3;
    padding: 0 5px;
    display: inline-block;
    height: 45px;
    line-height: 45px;
}
.prj-link
{
    background-color: #e5edf3;
    padding: 0 10px;
    display: inline-block;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center center; 
    vertical-align: top;
    text-align: center;
}
.prj-link:hover
{

    background-color: #2f96d1;
}
.prj-link i
{
    vertical-align: middle;
    text-align: center;
    line-height: 45px;
    color: #2d3e52;
}



/*Tablety*/

@media (max-width: 1024px)
{
    .top_menu
    {
        width:100%;
        display:block;
    }
    .prj-items
    {
        width:100%;
        display:block;
    }
}
/*Poprawa resposive*/
@media (max-width: 360px)
{
    .prj-price
    {
        padding: 0 10px;
    }
    .prj-link
    {
        padding: 0 5px ;
    }
}
@media (min-device-width: 361px) and (max-device-width: 1023px)
{
    .prj-price
    {
        padding: 0 30px;
    }
    .prj-link
    {
        padding: 0 20px ;
        width:45px;
    }
}
@media (min-device-width: 1280px) and (max-device-width: 1366px)
{
    .prj-link
    {
        padding: 0 5px ;
        
    }
}
@media (min-width: 1440px)
{
    .prj-link
    {
        padding: 0 5px ;
        width:45px;
    }
    .prj-price
    {
        padding: 0 5px;
    }
}
@media (min-width: 1601px)
{
    .prj-link
    {
        padding: 0 10px ;
        width:45px;
    }
    .prj-price
    {
        padding: 0 20px;
    }
}