@import url(http://fonts.googleapis.com/css?family=Cabin:700);

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    color:#666666
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 0px;
}
.all-question 
{
    margin: 10px auto;
    float: none;
    padding:0;
}
label
{
    display: block;
    font-size: 12px;
}
.filter_question_row
{
    padding: 0 15px;
    background-color: #f5f9fc;
    color: #161f29;
    font-family: Montserrat;
}
.filter_ansver_row
{
    padding: 0 15px;
}
.reset_filter
{
    position: relative;
    cursor: pointer;
    float: right;
    top: 0px;
    color:#88c354;
    font-size:12px;
}
.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group
{
    border: 0;
}
.radio.radio-primary 
{
    display: inline-block;
}
.area-size 
{
    margin: 40px 0 0 0;
    vertical-align: bottom;
    display: inline-block;
}
.submit-projects, .all_project
{
    margin: 0 auto;
    padding: 0;
    float:none;
}

.submit-projects button
{
    float:right;
    font-family: Montserrat;
    font-size: 16px;
    padding: 8px 25px;
    color: #fff;
    background-color: #3c7cae;
    border:0;
    border-radius: 3px
}
.all_project
{
    padding: 20px;
    color: #fff;
    font-size: 14px;
}
.projects-counts
{
    padding:0 10px;
    font-family: Montserrat;
    font-size: 18px;
    color:#88c354;
}
/*RADIO BUTTONS*/

.radio {
  padding-left: 20px; }
.radio label {
    display: block;
    position: relative;
    padding-left: 5px;
    padding-right: 15px;}
.radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
.radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #008cba; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #008cba; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #008cba; }

.site-privacy div
{
    padding: 0 25px;
}
.privacy-title
{
    font-weight: 700;
    padding: 10px 10px !important;
}
.site-regulations div
{
    padding: 0 25px;
}
.regulations-title
{
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 10px !important;
}
.question-answer-wrap
{
    background-color: #1d1f27;
}


@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}
